.thumb-item {
  height: 200px;
}

.thumb-line {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.item {
  margin-bottom: 25px;
}

.btn-default {
  background-color: #42cdd4;
  border-color: #42cdd4;
}

.btn-default:hover {
  background-color: #42cdd9;
}

.properties li {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-top: 5px;
}

.properties {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
}

.propertyTitle {
  color: gray;
}

.acervo-title {
  margin-bottom: 22px;
}

.social-share-bar {
  display:none !important;
}
