.input-area {
  margin: 10px 10px;
}

.input-area label {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}

.errors-warning {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
